
<div class="container">

    <div class="question" ng-show="vm.showQuestion1">
        <div class="row">
            <div class="col-md-12">
                <div class="questionContainer">
                    <div class="modernBox questionCard">
                        <div class="header">
                            <h2>{{vm.question1.description}}</h2>
                        </div>
                        <div class="content">
                            <input class="form-control input-lg " placeholder="Ex. Smith" ng-model="vm.question1Response" />
                            <br/>
                            <button style="width:100%" class="btn btn-lg btn-outline-primary" ng-click="vm.Next2()">Next <i class="fa fa-arrow-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="question" ng-show="vm.showQuestion2">
        <div class="row">
            <div class="col-md-12">
                <div class="questionContainer">
                    <div class="modernBox questionCard">
                        <div class="header">
                            <h2>{{vm.question2.description}}</h2>
                        </div>
                        <div class="content">
                            <input class="form-control input-lg " placeholder="Ex. 546" ng-model="vm.question2Response" />
                            <br/>
                            <button style="width:100%" class="btn btn-lg btn-outline-primary" ng-click="vm.Next3()">Next <i class="fa fa-arrow-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="question" ng-show="vm.showQuestion3">
        <div class="row">
            <div class="col-md-12">
                <div class="questionContainer">
                    <div class="modernBox questionCard">
                        <div class="header">
                            <h2>{{vm.question3.description}}</h2>
                        </div>
                        <div class="content">
                            <select class="form-control input-lg " placeholder="Enter here.." ng-model="vm.question3Response" >
                                <option>Gym</option>
                                <option>Pool</option>
                                <option>Gym/Pool</option>
                            </select>
                            <br/>
                            <button style="width:100%" class="btn btn-lg btn-outline-primary" ng-click="vm.Next4()">Next <i class="fa fa-arrow-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="question" ng-show="vm.displayMessage">
        <div class="row">
            <div class="col-md-12">
                <div class="questionContainer">
                    <div class="modernBox questionCard">
                        <div class="header">
                            <h2 class="text-center">You're all set, Thank You!</h2>
                        </div>
                        <div class="content">
                            <p class="text-center">Its your Bella Check In</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

