<div>
    <!--style="background-image:url('Content/Images/signature-loyalty.png');background-position:50% 200px;background-repeat:no-repeat"-->
    <div style="text-align:center;font-size:26px;position:absolute;top:260px;width:100%;text-shadow:1px 1px 2px white, -1px -1px 2px white,-4px 4px 4px white,-4px 4px 4px white">
        <div class="row">
            <h1 class="mainColor" style="font-style: italic;">Bella Check In</h1>
        </div>
        <i class="fa fa-refresh fa-spin fa-3x fa-fw mainColor" aria-hidden="true"></i>
    </div>
</div>