<div class="row header">
    <div class="col-sm-4 col-xs-12">
        <div class="ptop-5 pull-left">
            <span class="pright-10 pull-left fSize-2 text-white">Arrivals On {{vm.flightBoardDate}}</span>
            <p class="input-group .ptop-5 w1">
                <input ng-hide="true" ng-change="vm.DateChanged()" type="text" ng-click="vm.OpenFlightBoardCalendar()" class="form-control w0 padding-0" uib-datepicker-popup="{{vm.format}}" ng-model="vm.calendarDate" is-open="vm.isFlightBoardCalendarOpen" datepicker-options="vm.dateOptions" ng-required="true" close-text="Close" showWeeks="true" alt-input-formats="vm.altInputFormats" />
                <span class="">
                    <button style="background-color:#6592da; border-color:white; border-radius: 0px" type="button" class="btn btn-default" ng-click="vm.OpenFlightBoardCalendar(); $event.stopPropagation();"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </p>
        </div>
    </div>
    <div class="col-sm-5 col-xs-4 visible-lg-block visible-md-block visible-sm-block ">
        <div class="customPager">
            <ul>
                <li ng-click="vm.FetchReservations('s')"><i class="fa fa-angle-double-left"></i> Previous</li>
                <li>
                    <div>
                        {{vm.hourRange}} hrs
                    </div>
                </li>
                <li ng-click="vm.FetchReservations('a')"> Next <i class="fa fa-angle-double-right"></i>
            </ul>
        </div>
    </div>
    <div class="col-sm-3 col-xs-4 visible-lg-block visible-md-block visible-sm-block">
        <div class=".ptop-5 pull-right">
            <div class="fSize-2 text-white">
                {{vm.flightBoardConfiguration.Iata}}
                {{vm.todaysTime}}
            </div>
        </div>
    </div>
    <div class="col-xs-12 visible-xs-block">
        <div class="fSize-2 text-white">
            {{vm.flightBoardConfiguration.Iata}}
            {{vm.todaysTime}}
        </div>
    </div>
</div>


<div class="heightMin-100">
    <table class="flightBoard">
        <thead>
            <tr>
                <th class="w95">Stat</th>
                <th class="w95">Type</th>
                <th class="w95">Tail</th>
                <th class="w95">Flight</th>
                <th class="w95">Orig</th>
                <th class="w95">Cust</th>
                <th class="w95">ETA</th>
                <th class="w95">ATA</th>
                <th class="w95">QT</th>
                <th class="w95">Pax</th>
                <th class="w95">Pk</th>
                <th class="w95">Trans</th>
                <th class="w95">Fuel</th>
                <th class="w95">Qty Req</th>
                <th class="wSmall">C</th>
                <th class="wSmall">I</th>
                <th class="wSmall">N</th>
                <th class="wSmall">Lav</th>
                <th class="w95">Water</th>
                <th class="w95">GPU</th>
                <th class="w95">Cat</th>
                <th class="w95">Deice</th>
                <th class="w200">Notes</th>
                <th class="w95">POL</th>
                <th class="w95">ETD</th>
                <th class="w95">ATD</th>
                <th class="w95">DEST</th>
                <th class="w95">PAX</th>
                <th class="w95">INV</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="obj in vm.arrivals" class="transport" ng-class="{transportCategory: obj.transportCategory, flagged: obj.complete}">
                <td class="w95 " ng-class="{ graySection: obj.ArrivalFlightInformation.FlightDateTime !== null}">{{obj.SignatureStatus}}</td>
                <td class="w95 " ng-class="{ graySection: obj.ArrivalFlightInformation.FlightDateTime !== null}">{{obj.AircraftModel}}</td>
                <td class="w95 " ng-class="{ graySection: obj.ArrivalFlightInformation.FlightDateTime !== null}">{{obj.TailNumber}}</td>
                <td class="w95 " ng-class="{ graySection: obj.ArrivalFlightInformation.FlightDateTime !== null}">{{obj.FlightNumber}}</td>
                <td class="w95 " ng-class="{ graySection: obj.ArrivalFlightInformation.FlightDateTime !== null}">{{obj.ArrivalFlightInformation.BaseId}}</td>
                <td class="w95 " ng-class="{ graySection: obj.ArrivalFlightInformation.FlightDateTime !== null}">{{obj.CustomsRequiredInbound}}</td>
                <td class="w95 " ng-class="{ graySection: obj.ArrivalFlightInformation.FlightDateTime !== null}">{{obj.ArrivalFlightInformation.EstimatedFlightDateTime}}</td>
                <td class="w95 " ng-class="{ graySection: obj.ArrivalFlightInformation.FlightDateTime !== null}">{{obj.ArrivalFlightInformation.FlightDateTime}}</td>
                <td class="w95 " ng-class="{ graySection: obj.ArrivalFlightInformation.FlightDateTime !== null}"><span ng-if="obj.QuickTurn == true">QT</span></td>
                <td class="w95 " ng-class="{ graySection: obj.ArrivalFlightInformation.FlightDateTime !== null}">{{obj.ArrivalFlightInformation.PassengerCount}}</td>
                <td class="w95 " ng-class="{ graySection: obj.ArrivalFlightInformation.FlightDateTime !== null}">{{obj.Parking}}</td>
                <td class="w95 ">{{obj.AllTransportations.Text}}</td>
                <td class="w95 " ng-class="{ outstanding: (obj.Fuel.Status == 1 || obj.Fuel.Status == 8) && obj.ArrivalFlightInformation.FlightDateTime !== null,   complete: obj.Fuel.Status == 16 && obj.ArrivalFlightInformation.FlightDateTime !== null }">{{obj.Fuel.ProductDescription}}</td>
                <td class="w95 " ng-class="{ outstanding: (obj.Fuel.Status == 1 || obj.Fuel.Status == 8) && obj.ArrivalFlightInformation.FlightDateTime !== null,   complete: obj.Fuel.Status == 16 && obj.ArrivalFlightInformation.FlightDateTime !== null }">{{obj.Fuel.Quantity}}</td>                
                <td class="wSmall " ng-class="{ outstanding: (obj.CoffeeStatus == 1 || obj.CoffeeStatus == 8) && obj.ArrivalFlightInformation.FlightDateTime !== null, complete: obj.CoffeeStatus == 16 && obj.ArrivalFlightInformation.FlightDateTime !== null}">{{obj.Coffee}}</td>                              
                <td class="wSmall " ng-class="{ outstanding: (obj.IceStatus == 1 || obj.IceStatus == 8) && obj.ArrivalFlightInformation.FlightDateTime !== null, complete: obj.IceStatus == 16 && obj.ArrivalFlightInformation.FlightDateTime !== null}">{{obj.Ice}}</td>
                <td class="wSmall " ng-class="{ outstanding: (obj.NewspaperStatus == 1 || obj.NewspaperStatus == 8) && obj.ArrivalFlightInformation.FlightDateTime !== null,  complete: obj.NewspaperStatus == 16 && obj.ArrivalFlightInformation.FlightDateTime !== null}">{{obj.Newspaper}}</td>
                <td class="wSmall " ng-class="{ outstanding: (obj.Lav.Status == 1 || obj.Lav.Status == 8) && obj.ArrivalFlightInformation.FlightDateTime !== null, complete: obj.Lav.Status == 16 && obj.ArrivalFlightInformation.FlightDateTime !== null}">{{obj.Lav.Quantity}}</td>
                <td class="w95 " ng-class="{ outstanding: (obj.Water.Status == 1 || obj.Water.Status == 8) && obj.ArrivalFlightInformation.FlightDateTime !== null, complete: obj.Water.Status == 16 && obj.ArrivalFlightInformation.FlightDateTime !== null}"><span ng-if="obj.Water.Quantity > 0">Y</span></td>
                <td class="w95 " ng-class="{ outstanding: (obj.Gpu.Status == 1 || obj.Gpu.Status == 8) && obj.ArrivalFlightInformation.FlightDateTime !== null, complete: obj.Gpu.Status == 16 && obj.ArrivalFlightInformation.FlightDateTime !== null}">{{obj.Gpu.Quantity}}</td>
                <td class="w95 " ng-class="{ outstanding: (obj.Cater.Status == 1 || obj.Cater.Status == 8) && obj.ArrivalFlightInformation.FlightDateTime !== null, complete: obj.Cater.Status == 16 && obj.ArrivalFlightInformation.FlightDateTime !== null}"><span ng-if="obj.CrewCatering.length > 0 || obj.PassengerCatering.length > 0">Y</span></td>
                <td class="w95 " ng-class="{ outstanding: (obj.Deice.Status == 1 || obj.Deice.Status == 8) && obj.ArrivalFlightInformation.FlightDateTime !== null, complete: obj.Deice.Status == 16 && obj.ArrivalFlightInformation.FlightDateTime !== null}">{{obj.Deice.Quantity}}</td>
                <td class="w200 " ng-class="{ graySection: obj.ArrivalFlightInformation.FlightDateTime !== null}"><div class="flight-board-notes" uib-tooltip="{{obj.CompanyName}} - {{obj.Comments}} {{obj.Fuel.Comments}}" tooltip-is-open="tooltipIsOpen" tooltip-placement="top"><span class="company-name">{{obj.CompanyName}} - </span> {{obj.Comments}} {{obj.Fuel.Comments}}</div> </td>
                <td class="w95 " ng-class="{ graySection: obj.ArrivalFlightInformation.FlightDateTime !== null}">{{obj.PullOnLine}}</td> <!-- need-->
                <td class="w95 " ng-class="{ graySection: obj.ArrivalFlightInformation.FlightDateTime !== null}">{{obj.DepartureFlightInformation.EstimatedFlightDateTime}}</td>
                <td class="w95 " ng-class="{ graySection: obj.ArrivalFlightInformation.FlightDateTime !== null}">{{obj.DepartureFlightInformation.FlightDateTime}}</td>
                <td class="w95 " ng-class="{ graySection: obj.ArrivalFlightInformation.FlightDateTime !== null}">{{obj.DepartureFlightInformation.BaseId}}</td>
                <td class="w95 " ng-class="{ graySection: obj.ArrivalFlightInformation.FlightDateTime !== null}">{{obj.DepartureFlightInformation.PassengerCount}}</td>
                <td class="w95" ng-class="{ graySection: obj.ArrivalFlightInformation.FlightDateTime !== null}">
                    <span><i class="{{obj.InvoiceIcon}}"></i></span> {{obj.InvoiceText}}
                </td>
            </tr>
        </tbody>
    </table>
    <div class="ptop-5 fSize-085" ng-if="vm.arrivals.length === 0">No records available for the date selected.</div>
</div>
<div class="row" ng-if="vm.arrivals.length > 0">
    <div class="col-xs-12">
        <span class="pull-right ptop-5 fSize-085">Showing {{vm.arrivals.length}} record(s).</span>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 header text-white">
        <div class="fSize-2">Arrivals/Departures</div>
    </div>
</div>
<div class="heightMin-100">
    <table class="flightBoard">
        <thead>
            <tr>
                <th class="w95">Stat</th>
                <th class="w95">Type</th>
                <th class="w95">Tail</th>
                <th class="w95">Flight</th>
                <th class="w95">Orig</th>
                <th class="w95">Cust</th>
                <th class="w95">ETA</th>
                <th class="w95">ATA</th>
                <th class="w95">QT</th>
                <th class="w95">Pax</th>
                <th class="w95">Pk</th>
                <th class="w95">Trans</th>
                <th class="w95">Fuel</th>
                <th class="w95">Qty Req</th>
                <th class="wSmall">C</th>
                <th class="wSmall">I</th>
                <th class="wSmall">N</th>
                <th class="wSmall">Lav</th>
                <th class="w95">Water</th>
                <th class="w95">GPU</th>
                <th class="w95">Cat</th>
                <th class="w95">Deice</th>
                <th class="w200">Notes</th>
                <th class="w95">POL</th>
                <th class="w95">ETD</th>
                <th class="w95">ATD</th>
                <th class="w95">DEST</th>
                <th class="w95">PAX</th>
                <th class="w95">INV</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="obj in vm.sameDayFlights" class="transport" ng-class="{transportCategory: obj.transportCategory, flagged: obj.complete}">
                <td class="w95" ng-class="{ yellowSection: obj.ArrivalFlightInformation.FlightDateTime !== null && obj.DepartureFlightInformation.FlightDateTime === null, graySection: obj.DepartureFlightInformation.FlightDateTime !== null }">{{obj.SignatureStatus}}</td>
                <td class="w95" ng-class="{ yellowSection: obj.ArrivalFlightInformation.FlightDateTime !== null && obj.DepartureFlightInformation.FlightDateTime === null, graySection: obj.DepartureFlightInformation.FlightDateTime !== null }">{{obj.AircraftModel}}</td>
                <td class="w95" ng-class="{ yellowSection: obj.ArrivalFlightInformation.FlightDateTime !== null && obj.DepartureFlightInformation.FlightDateTime === null, graySection: obj.DepartureFlightInformation.FlightDateTime !== null }">{{obj.TailNumber}}</td>
                <td class="w95" ng-class="{ yellowSection: obj.ArrivalFlightInformation.FlightDateTime !== null && obj.DepartureFlightInformation.FlightDateTime === null, graySection: obj.DepartureFlightInformation.FlightDateTime !== null }">{{obj.FlightNumber}}</td>
                <td class="w95" ng-class="{ yellowSection: obj.ArrivalFlightInformation.FlightDateTime !== null && obj.DepartureFlightInformation.FlightDateTime === null, graySection: obj.DepartureFlightInformation.FlightDateTime !== null }">{{obj.ArrivalFlightInformation.BaseId}}</td>
                <td class="w95" ng-class="{ yellowSection: obj.ArrivalFlightInformation.FlightDateTime !== null && obj.DepartureFlightInformation.FlightDateTime === null, graySection: obj.DepartureFlightInformation.FlightDateTime !== null }">{{obj.CustomsRequiredInbound}}</td>
                <td class="w95" ng-class="{ yellowSection: obj.ArrivalFlightInformation.FlightDateTime !== null && obj.DepartureFlightInformation.FlightDateTime === null, graySection: obj.DepartureFlightInformation.FlightDateTime !== null }">{{obj.ArrivalFlightInformation.EstimatedFlightDateTime}}</td>
                <td class="w95" ng-class="{ yellowSection: obj.ArrivalFlightInformation.FlightDateTime !== null && obj.DepartureFlightInformation.FlightDateTime === null, graySection: obj.DepartureFlightInformation.FlightDateTime !== null }">{{obj.ArrivalFlightInformation.FlightDateTime}}</td>
                <td class="w95" ng-class="{ yellowSection: obj.ArrivalFlightInformation.FlightDateTime !== null && obj.DepartureFlightInformation.FlightDateTime === null && obj.QuickTurn === false, redSection: obj.QuickTurn === true && obj.DepartureFlightInformation.FlightDateTime === null && obj.ArrivalFlightInformation.FlightDateTime !== null, graySection: obj.DepartureFlightInformation.FlightDateTime !== null }"><span ng-if="obj.QuickTurn === true">QT</span></td>  <!--ng-class="{quickTurn: obj.QuickTurn}" this is for same day flights table-->
                <td class="w95" ng-class="{ yellowSection: obj.ArrivalFlightInformation.FlightDateTime !== null && obj.DepartureFlightInformation.FlightDateTime === null, graySection: obj.DepartureFlightInformation.FlightDateTime !== null }">{{obj.ArrivalFlightInformation.PassengerCount}}</td>
                <td class="w95" ng-class="{ yellowSection: obj.ArrivalFlightInformation.FlightDateTime !== null && obj.DepartureFlightInformation.FlightDateTime === null, graySection: obj.DepartureFlightInformation.FlightDateTime !== null }">{{obj.Parking}}</td>
                <td class="w95 ">{{obj.AllTransportations.Text}}</td>
                <td class="w95" ng-class="{ outstanding: (obj.Fuel.Status == 1 || obj.Fuel.Status == 8) && obj.ArrivalFlightInformation.FlightDateTime !== null,   complete: obj.Fuel.Status == 16 && obj.ArrivalFlightInformation.FlightDateTime !== null }">{{obj.Fuel.ProductDescription}}</td>
                <td class="w95" ng-class="{ outstanding: (obj.Fuel.Status == 1 || obj.Fuel.Status == 8) && obj.ArrivalFlightInformation.FlightDateTime !== null,   complete: obj.Fuel.Status == 16 && obj.ArrivalFlightInformation.FlightDateTime !== null }">{{obj.Fuel.Quantity}}</td>
                <td class="wSmall" ng-class="{ outstanding: (obj.CoffeeStatus == 1 || obj.CoffeeStatus == 8) && obj.ArrivalFlightInformation.FlightDateTime !== null, complete: obj.CoffeeStatus == 16 && obj.ArrivalFlightInformation.FlightDateTime !== null}">{{obj.Coffee}}</td>
                <td class="wSmall" ng-class="{ outstanding: (obj.IceStatus == 1 || obj.IceStatus == 8) && obj.ArrivalFlightInformation.FlightDateTime !== null, complete: obj.IceStatus == 16 && obj.ArrivalFlightInformation.FlightDateTime !== null}">{{obj.Ice}}</td>
                <td class="wSmall" ng-class="{ outstanding: (obj.NewspaperStatus == 1 || obj.NewspaperStatus == 8) && obj.ArrivalFlightInformation.FlightDateTime !== null,  complete: obj.NewspaperStatus == 16 && obj.ArrivalFlightInformation.FlightDateTime !== null}">{{obj.Newspaper}}</td>
                <td class="wSmall " ng-class="{ outstanding: (obj.Lav.Status == 1 || obj.Lav.Status == 8) && obj.ArrivalFlightInformation.FlightDateTime !== null, complete: obj.Lav.Status == 16 && obj.ArrivalFlightInformation.FlightDateTime !== null}">{{obj.Lav.Quantity}}</td>
                <td class="w95 " ng-class="{ outstanding: (obj.Water.Status == 1 || obj.Water.Status == 8) && obj.ArrivalFlightInformation.FlightDateTime !== null, complete: obj.Water.Status == 16 && obj.ArrivalFlightInformation.FlightDateTime !== null}"><span ng-if="obj.Water.Quantity > 0">Y</span></td>
                <td class="w95 " ng-class="{ outstanding: (obj.Gpu.Status == 1 || obj.Gpu.Status == 8) && obj.ArrivalFlightInformation.FlightDateTime !== null, complete: obj.Gpu.Status == 16 && obj.ArrivalFlightInformation.FlightDateTime !== null}">{{obj.Gpu.Quantity}}</td>
                <td class="w95 " ng-class="{ outstanding: (obj.Cater.Status == 1 || obj.Cater.Status == 8) && obj.ArrivalFlightInformation.FlightDateTime !== null, complete: obj.Cater.Status == 16 && obj.ArrivalFlightInformation.FlightDateTime !== null}"><span ng-if="obj.CrewCatering.length > 0 || obj.PassengerCatering.length > 0">Y</span></td>
                <td class="w95 " ng-class="{ outstanding: (obj.Deice.Status == 1 || obj.Deice.Status == 8) && obj.ArrivalFlightInformation.FlightDateTime !== null, complete: obj.Deice.Status == 16 && obj.ArrivalFlightInformation.FlightDateTime !== null}">{{obj.Deice.Quantity}}</td>
                <td class="w200 " ng-class="{ graySection: obj.DepartureFlightInformation.FlightDateTime !== null}"><div class="flight-board-notes" uib-tooltip="{{obj.CompanyName}} - {{obj.Comments}} {{obj.Fuel.Comments}}" tooltip-is-open="tooltipIsOpen" tooltip-placement="top"><span class="company-name">{{obj.CompanyName}} - </span> {{obj.Comments}} {{obj.Fuel.Comments}}</div> </td>
                <td ng-class="{ graySection: obj.DepartureFlightInformation.FlightDateTime !== null}">{{obj.PullOnLine}}</td> <!-- need-->
                <td class="w95" ng-class="{ graySection: obj.DepartureFlightInformation.FlightDateTime !== null}">{{obj.DepartureFlightInformation.EstimatedFlightDateTime}}</td>
                <td class="w95" ng-class="{ graySection: obj.DepartureFlightInformation.FlightDateTime !== null}">{{obj.DepartureFlightInformation.FlightDateTime}}</td>
                <td class="w95" ng-class="{ graySection: obj.DepartureFlightInformation.FlightDateTime !== null}">{{obj.DepartureFlightInformation.BaseId}}</td>
                <td class="w95" ng-class="{ graySection: obj.DepartureFlightInformation.FlightDateTime !== null}">{{obj.DepartureFlightInformation.PassengerCount}}</td>
                <td class="w95" ng-class="{ graySection: obj.DepartureFlightInformation.FlightDateTime !== null}"><span><i class="{{obj.InvoiceIcon}}"></i></span> {{obj.InvoiceText}}</td>
            </tr>
        </tbody>
    </table>
    <div class="ptop-5 fSize-085" ng-if="vm.sameDayFlights.length === 0">No records available for the date selected.</div>
</div>
<div class="row" ng-if="vm.sameDayFlights.length > 0">
    <div class="col-xs-12">
        <span class="pull-right ptop-5 fSize-085">Showing {{vm.sameDayFlights.length}} record(s).</span>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 header text-white">
        <div class="fSize-2">Departures</div>
    </div>
</div>

<div class="heightMin-100">
    <table class="flightBoard">
        <thead>
            <tr>
                <th class="w95">Stat</th>
                <th class="w95">Type</th>
                <th class="w95">Tail</th>
                <th class="w95">Flight</th>
                <th class="w95">Orig</th>
                <th class="w95">Cust</th>
                <th class="w95">ETA</th>
                <th class="w95">ATA</th>
                <th class="w95">QT</th>
                <th class="w95">Pax</th>
                <th class="w95">Pk</th>
                <th class="w95">Trans</th>
                <th class="w95">Fuel</th>
                <th class="w95">Qty Req</th>
                <th class="wSmall">C</th>
                <th class="wSmall">I</th>
                <th class="wSmall">N</th>
                <th class="wSmall">Lav</th>
                <th class="w95">Water</th>
                <th class="w95">GPU</th>
                <th class="w95">Cat</th>
                <th class="w95">Deice</th>
                <th class="w200">Notes</th>
                <th class="w95">POL</th>
                <th class="w95">ETD</th>
                <th class="w95">ATD</th>
                <th class="w95">DEST</th>
                <th class="w95">PAX</th>
                <th class="w95">INV</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="obj in vm.departures" class="transport" ng-class="{transportCategory: obj.transportCategory, flagged: obj.complete}">

                <td class="w95 graySection">{{obj.SignatureStatus}}</td>
                <td class="w95 graySection">{{obj.AircraftModel}}</td>
                <td class="w95 graySection">{{obj.TailNumber}}</td>
                <td class="w95 graySection">{{obj.FlightNumber}}</td>
                <td class="w95 graySection">{{obj.ArrivalFlightInformation.BaseId}}</td>
                <td class="w95 graySection">{{obj.CustomsRequiredInbound}}</td>
                <td class="w95 graySection">{{obj.ArrivalFlightInformation.EstimatedFlightDateTime}}</td>
                <td class="w95 graySection">{{obj.ArrivalFlightInformation.FlightDateTime}}</td>
                <td class="w95 graySection"><span ng-if="obj.QuickTurn == true">QT</span></td>  <!--ng-class="{quickTurn: obj.QuickTurn}" this is for same day flights table-->
                <td class="w95 graySection">{{obj.ArrivalFlightInformation.PassengerCount}}</td>
                <td class="w95 graySection">{{obj.Parking}}</td>
                <td class="w95">{{obj.AllTransportations.Text}}</td>
                <td class="w95" ng-class="{ outstanding: (obj.Fuel.Status == 1 || obj.Fuel.Status == 8) && (obj.ArrivalFlightInformation.FlightDateTime !== null && obj.DepartureFlightInformation.FlightDateTime === null), complete: obj.Fuel.Status == 16 && (obj.ArrivalFlightInformation.FlightDateTime !== null && obj.DepartureFlightInformation.FlightDateTime === null), graySection: obj.DepartureFlightInformation.FlightDateTime !== null }">{{obj.Fuel.ProductDescription}}</td>
                <td class="w95" ng-class="{ outstanding: (obj.Fuel.Status == 1 || obj.Fuel.Status == 8) && (obj.ArrivalFlightInformation.FlightDateTime !== null && obj.DepartureFlightInformation.FlightDateTime === null), complete: obj.Fuel.Status == 16 && (obj.ArrivalFlightInformation.FlightDateTime !== null && obj.DepartureFlightInformation.FlightDateTime === null), graySection: obj.DepartureFlightInformation.FlightDateTime !== null }">{{obj.Fuel.Quantity}}</td>
                <td class="wSmall" ng-class="{ outstanding: (obj.CoffeeStatus == 1 || obj.CoffeeStatus == 8) && (obj.ArrivalFlightInformation.FlightDateTime !== null && obj.DepartureFlightInformation.FlightDateTime === null) , complete: obj.CoffeeStatus == 16 &&  (obj.ArrivalFlightInformation.FlightDateTime !== null && obj.DepartureFlightInformation.FlightDateTime === null), graySection: obj.DepartureFlightInformation.FlightDateTime !== null }">{{obj.Coffee}}</td>
                <td class="wSmall" ng-class="{ outstanding: (obj.IceStatus == 1 || obj.IceStatus == 8) &&  (obj.ArrivalFlightInformation.FlightDateTime !== null && obj.DepartureFlightInformation.FlightDateTime === null) , complete: obj.IceStatus == 16 &&  (obj.ArrivalFlightInformation.FlightDateTime !== null && obj.DepartureFlightInformation.FlightDateTime === null), graySection: obj.DepartureFlightInformation.FlightDateTime !== null }">{{obj.Ice}}</td>
                <td class="wSmall" ng-class="{ outstanding: (obj.NewspaperStatus == 1 || obj.NewspaperStatus == 8) &&  (obj.ArrivalFlightInformation.FlightDateTime !== null && obj.DepartureFlightInformation.FlightDateTime === null) , complete: obj.NewspaperStatus == 16 &&  (obj.ArrivalFlightInformation.FlightDateTime !== null && obj.DepartureFlightInformation.FlightDateTime === null), graySection: obj.DepartureFlightInformation.FlightDateTime !== null }">{{obj.Newspaper}}</td>
                <td class="wSmall" ng-class="{ outstanding: (obj.Lav.Status == 1 || obj.Lav.Status == 8) &&  (obj.ArrivalFlightInformation.FlightDateTime !== null && obj.DepartureFlightInformation.FlightDateTime === null) , complete: obj.Lav.Status == 16 &&  (obj.ArrivalFlightInformation.FlightDateTime !== null && obj.DepartureFlightInformation.FlightDateTime === null), graySection: obj.DepartureFlightInformation.FlightDateTime !== null }">{{obj.Lav.Quantity}}</td>
                <td class="w95" ng-class="{ outstanding: (obj.Water.Status == 1 || obj.Water.Status == 8) && (obj.ArrivalFlightInformation.FlightDateTime !== null && obj.DepartureFlightInformation.FlightDateTime === null) , complete: obj.Water.Status == 16 &&  (obj.ArrivalFlightInformation.FlightDateTime !== null && obj.DepartureFlightInformation.FlightDateTime === null), graySection: obj.DepartureFlightInformation.FlightDateTime !== null }"><span ng-if="obj.Water.Quantity > 0">Y</span></td>
                <td class="w95" ng-class="{ outstanding: (obj.Gpu.Status == 1 || obj.Gpu.Status == 8) &&  (obj.ArrivalFlightInformation.FlightDateTime !== null && obj.DepartureFlightInformation.FlightDateTime === null) , complete: obj.Gpu.Status == 16 &&  (obj.ArrivalFlightInformation.FlightDateTime !== null && obj.DepartureFlightInformation.FlightDateTime === null), graySection: obj.DepartureFlightInformation.FlightDateTime !== null }">{{obj.Gpu.Quantity}}</td>
                <td class="w95" ng-class="{ outstanding: (obj.Cater.Status == 1 || obj.Cater.Status == 8) &&  (obj.ArrivalFlightInformation.FlightDateTime !== null && obj.DepartureFlightInformation.FlightDateTime === null) , complete: obj.Cater.Status == 16 && (obj.ArrivalFlightInformation.FlightDateTime !== null && obj.DepartureFlightInformation.FlightDateTime === null), graySection: obj.DepartureFlightInformation.FlightDateTime !== null }"><span ng-if="obj.CrewCatering.length > 0 || obj.PassengerCatering.length > 0">Y</span></td>
                <td class="w95" ng-class="{ outstanding: (obj.Deice.Status == 1 || obj.Deice.Status == 8) &&  (obj.ArrivalFlightInformation.FlightDateTime !== null && obj.DepartureFlightInformation.FlightDateTime === null) , complete: obj.Deice.Status == 16 && obj.ArrivalFlightInformation.FlightDateTime !== null, graySection: obj.DepartureFlightInformation.FlightDateTime !== null }">{{obj.Deice.Quantity}}</td>
                <td class="w200" ng-class="{ graySection: obj.DepartureFlightInformation.FlightDateTime !== null}"><div class="flight-board-notes" uib-tooltip="{{obj.CompanyName}} - {{obj.Comments}} {{obj.Fuel.Comments}}" tooltip-is-open="tooltipIsOpen" tooltip-placement="top"><span class="company-name">{{obj.CompanyName}} - </span> {{obj.Comments}} {{obj.Fuel.Comments}}</div> </td>
                <td ng-class="{ graySection: obj.DepartureFlightInformation.FlightDateTime !== null}">{{obj.PullOnLine}}</td> <!-- need-->
                <td class="w95" ng-class="{ graySection: obj.DepartureFlightInformation.FlightDateTime !== null}">{{obj.DepartureFlightInformation.EstimatedFlightDateTime}}</td>
                <td class="w95" ng-class="{ graySection: obj.DepartureFlightInformation.FlightDateTime !== null}">{{obj.DepartureFlightInformation.FlightDateTime}}</td>
                <td class="w95" ng-class="{ graySection: obj.DepartureFlightInformation.FlightDateTime !== null}">{{obj.DepartureFlightInformation.BaseId}}</td>
                <td class="w95" ng-class="{ graySection: obj.DepartureFlightInformation.FlightDateTime !== null}">{{obj.DepartureFlightInformation.PassengerCount}}</td>
                <td class="w95" ng-class="{ graySection: obj.DepartureFlightInformation.FlightDateTime !== null}"><span><i class="{{obj.InvoiceIcon}}"></i></span> {{obj.InvoiceText}}</td>
            </tr>
        </tbody>
    </table>
    <div class="ptop-5 fSize-085" ng-if="vm.departures.length === 0">No records available for the date selected.</div>
</div>
<div class="row" ng-if="vm.departures.length > 0">
    <div class="col-xs-12">
        <span class="pull-right ptop-5 fSize-085">Showing {{vm.departures.length}} record(s).</span>
    </div>
</div>


<div ng-if="vm.heavyCharters.length > 0">
    <div class="row">
        <div class="col-xs-12 header text-white">
            <div class="fSize-2">Transport Category</div>
        </div>
    </div>

    <div class="heightMin-100">
        <table class="flightBoard">
            <thead>
                <tr>
                    <th class="w95">Stat</th>
                    <th class="w95">Type</th>
                    <th class="w95">Tail</th>
                    <th class="w95">Flight</th>
                    <th class="w95">Orig</th>
                    <th class="w95">Cust</th>
                    <th class="w95">ETA</th>
                    <th class="w95">ATA</th>
                    <th class="w95">QT</th>
                    <th class="w95">Pax</th>
                    <th class="w95">Pk</th>
                    <th class="w95">Trans</th>
                    <th class="w95">Fuel</th>
                    <th class="w95">Qty Req</th>
                    <th class="wSmall">C</th>
                    <th class="wSmall">I</th>
                    <th class="wSmall">N</th>
                    <th class="wSmall">Lav</th>
                    <th class="w95">Water</th>
                    <th class="w95">GPU</th>
                    <th class="w95">Cat</th>
                    <th class="w95">Deice</th>
                    <th class="w200">Notes</th>
                    <th class="w95">POL</th>
                    <th class="w95">ETD</th>
                    <th class="w95">ATD</th>
                    <th class="w95">DEST</th>
                    <th class="w95">PAX</th>
                    <th class="w95">INV</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="obj in vm.heavyCharters" class="transport" ng-class="{transportCategory: obj.transportCategory, flagged: obj.complete}">
                    <td class="w95 " ng-class="{ graySection: obj.ArrivalFlightInformation.FlightDateTime !== null}">{{obj.SignatureStatus}}</td>
                    <td class="w95 " ng-class="{ graySection: obj.ArrivalFlightInformation.FlightDateTime !== null}">{{obj.AircraftModel}}</td>
                    <td class="w95 " ng-class="{ graySection: obj.ArrivalFlightInformation.FlightDateTime !== null}">{{obj.TailNumber}}</td>
                    <td class="w95 " ng-class="{ graySection: obj.ArrivalFlightInformation.FlightDateTime !== null}">{{obj.FlightNumber}}</td>
                    <td class="w95 " ng-class="{ graySection: obj.ArrivalFlightInformation.FlightDateTime !== null}">{{obj.ArrivalFlightInformation.BaseId}}</td>
                    <td class="w95 " ng-class="{ graySection: obj.ArrivalFlightInformation.FlightDateTime !== null}">{{obj.CustomsRequiredInbound}}</td>
                    <td class="w95 " ng-class="{ graySection: obj.ArrivalFlightInformation.FlightDateTime !== null}">{{obj.ArrivalFlightInformation.EstimatedFlightDateTime}}</td>
                    <td class="w95 " ng-class="{ graySection: obj.ArrivalFlightInformation.FlightDateTime !== null}">{{obj.ArrivalFlightInformation.FlightDateTime}}</td>
                    <td class="w95 " ng-class="{ graySection: obj.ArrivalFlightInformation.FlightDateTime !== null}"><span ng-if="obj.QuickTurn == true">QT</span></td>
                    <td class="w95 " ng-class="{ graySection: obj.ArrivalFlightInformation.FlightDateTime !== null}">{{obj.ArrivalFlightInformation.PassengerCount}}</td>
                    <td class="w95 " ng-class="{ graySection: obj.ArrivalFlightInformation.FlightDateTime !== null}">{{obj.Parking}}</td>
                    <td class="w95 ">{{obj.AllTransportations.Text}}</td>
                    <td class="w95 " ng-class="{ outstanding: (obj.Fuel.Status == 1 || obj.Fuel.Status == 8) && obj.ArrivalFlightInformation.FlightDateTime !== null,   complete: obj.Fuel.Status == 16 && obj.ArrivalFlightInformation.FlightDateTime !== null }">{{obj.Fuel.ProductDescription}}</td>
                    <td class="w95 " ng-class="{ outstanding: (obj.Fuel.Status == 1 || obj.Fuel.Status == 8) && obj.ArrivalFlightInformation.FlightDateTime !== null,   complete: obj.Fuel.Status == 16 && obj.ArrivalFlightInformation.FlightDateTime !== null }">{{obj.Fuel.Quantity}}</td>
                    <td class="wSmall " ng-class="{ outstanding: (obj.CoffeeStatus == 1 || obj.CoffeeStatus == 8) && obj.ArrivalFlightInformation.FlightDateTime !== null, complete: obj.CoffeeStatus == 16 && obj.ArrivalFlightInformation.FlightDateTime !== null}">{{obj.Coffee}}</td>
                    <td class="wSmall " ng-class="{ outstanding: (obj.IceStatus == 1 || obj.IceStatus == 8) && obj.ArrivalFlightInformation.FlightDateTime !== null, complete: obj.IceStatus == 16 && obj.ArrivalFlightInformation.FlightDateTime !== null}">{{obj.Ice}}</td>
                    <td class="wSmall " ng-class="{ outstanding: (obj.NewspaperStatus == 1 || obj.NewspaperStatus == 8) && obj.ArrivalFlightInformation.FlightDateTime !== null,  complete: obj.NewspaperStatus == 16 && obj.ArrivalFlightInformation.FlightDateTime !== null}">{{obj.Newspaper}}</td>
                    <td class="wSmall " ng-class="{ outstanding: (obj.Lav.Status == 1 || obj.Lav.Status == 8) && obj.ArrivalFlightInformation.FlightDateTime !== null, complete: obj.Lav.Status == 16 && obj.ArrivalFlightInformation.FlightDateTime !== null}">{{obj.Lav.Quantity}}</td>
                    <td class="w95 " ng-class="{ outstanding: (obj.Water.Status == 1 || obj.Water.Status == 8) && obj.ArrivalFlightInformation.FlightDateTime !== null, complete: obj.Water.Status == 16 && obj.ArrivalFlightInformation.FlightDateTime !== null}"><span ng-if="obj.Water.Quantity > 0">Y</span></td>
                    <td class="w95 " ng-class="{ outstanding: (obj.Gpu.Status == 1 || obj.Gpu.Status == 8) && obj.ArrivalFlightInformation.FlightDateTime !== null, complete: obj.Gpu.Status == 16 && obj.ArrivalFlightInformation.FlightDateTime !== null}">{{obj.Gpu.Quantity}}</td>
                    <td class="w95 " ng-class="{ outstanding: (obj.Cater.Status == 1 || obj.Cater.Status == 8) && obj.ArrivalFlightInformation.FlightDateTime !== null, complete: obj.Cater.Status == 16 && obj.ArrivalFlightInformation.FlightDateTime !== null}"><span ng-if="obj.CrewCatering.length > 0 || obj.PassengerCatering.length > 0">Y</span></td>
                    <td class="w95 " ng-class="{ outstanding: (obj.Deice.Status == 1 || obj.Deice.Status == 8) && obj.ArrivalFlightInformation.FlightDateTime !== null, complete: obj.Deice.Status == 16 && obj.ArrivalFlightInformation.FlightDateTime !== null}">{{obj.Deice.Quantity}}</td>
                    <td class="w200 " ng-class="{ graySection: obj.ArrivalFlightInformation.FlightDateTime !== null}"><div class="flight-board-notes" uib-tooltip="{{obj.CompanyName}} - {{obj.Comments}} {{obj.Fuel.Comments}}" tooltip-is-open="tooltipIsOpen" tooltip-placement="top"><span class="company-name">{{obj.CompanyName}} - </span> {{obj.Comments}} {{obj.Fuel.Comments}}</div> </td>
                    <td class="w95 " ng-class="{ graySection: obj.ArrivalFlightInformation.FlightDateTime !== null}">{{obj.PullOnLine}}</td> <!-- need-->
                    <td class="w95 " ng-class="{ graySection: obj.ArrivalFlightInformation.FlightDateTime !== null}">{{obj.DepartureFlightInformation.EstimatedFlightDateTime}}</td>
                    <td class="w95 " ng-class="{ graySection: obj.ArrivalFlightInformation.FlightDateTime !== null}">{{obj.DepartureFlightInformation.FlightDateTime}}</td>
                    <td class="w95 " ng-class="{ graySection: obj.ArrivalFlightInformation.FlightDateTime !== null}">{{obj.DepartureFlightInformation.BaseId}}</td>
                    <td class="w95 " ng-class="{ graySection: obj.ArrivalFlightInformation.FlightDateTime !== null}">{{obj.DepartureFlightInformation.PassengerCount}}</td>
                    <td class="w95" ng-class="{ graySection: obj.ArrivalFlightInformation.FlightDateTime !== null}"><span><i class="{{obj.InvoiceIcon}}"></i></span> {{obj.InvoiceText}}</td>
                </tr>
            </tbody>
        </table>
        <!--<div class="ptop-5 fSize-085" ng-if="vm.heavyCharters.length === 0">No records available for the date selected.</div>-->
    </div>
    <div class="row">
        <div class="col-xs-12">
            <span class="pull-right ptop-5 fSize-085">Showing {{vm.heavyCharters.length}} record(s).</span>
        </div>
    </div>

</div>
