<div class="container">
    <div class="materialContainer">
        <div class="materialHeader">
            Bella Check-In
        </div>
        <div class="materialContent">
            <div class="row">
                <i class="fa fa-info-circle" aria-hidden="true"></i> Please contact JTConnectSoftware if you have problems signing in.
            </div>
            <form name="vm.loginForm" novalidate novalidate>
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" name="userName" placeholder="" class="form-control" ng-model="vm.userCredentails.username" required />
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" name="password" placeholder="" class="form-control" ng-model="vm.userCredentails.password" required>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg bella w-100" ng-disabled="vm.loginForm.$invalid" ng-click="vm.loginUser()">Log In</button>
                </div>
                <div ng-show="vm.displayError" class="form-group">
                    <div class="errorNotification">
                        <i class="fa fa-exclamation-circle"></i> {{vm.errorMessage}}
                    </div>
                </div>
            </form>

        </div>
    </div>










<!--
<div class="container">
    <div class="loginBox loginContainer">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="text-center">Bella Check In</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form name="vm.loginForm" novalidate>
                    <hr class="hidden-sm hidden-xs" />

                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user fa-fw fa-lg"></i></span>
                        <input type="text" name="userName" placeholder="Username" class="form-control" ng-model="vm.userCredentails.username" required />
                    </div>
                    <br />
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-key fa-fw fa-lg"></i></span>
                        <input type="password" name="password" placeholder="Password" class="form-control" ng-model="vm.userCredentails.password" required>
                    </div>
                    <br />

                    <div class="input-group">
                        <div class="col-md-12 col-md-offset-1 checkbox">
                            <label>
                                <input type="checkbox">Remember me?
                            </label>
                        </div>
                    </div>
                    <div ng-show="vm.displayError" class="form-group">
                        <div class="col-sm-12">
                            <div class="errorNotification">
                                <i class="fa fa-exclamation-circle"></i> {{vm.errorMessage}}
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-sfs" style="width:100%;" ng-disabled="vm.loginForm.$invalid" ng-click="vm.loginUser()">
                                <i class="fa fa-caret-square-o-right fa-lg"></i>&nbsp;&nbsp;Login
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


-->

